<div style="border:1px solid; margin:20px;" class="content">
    <p><u>sub-live content</u></p>
    <button (click)="changeNested()">Change nested</button>
    <button (click)="eventChild.emit()">Emit value</button>
    <div>liveObject: {{data2.prop}}</div>
    <div>prop: {{data.prop}}</div>
    <div>user : {{user?.firstName}}</div>
    <div>firstName: {{firstName}}</div>
    <app-sub-sub-live [data2]="data2" [dataNested]="dataNested" [data]="data"></app-sub-sub-live>
    <app-sub-sub-live2 [data2]="data2" [dataNested]="dataNested" [data]="data"></app-sub-sub-live2>
</div>