<div style="border:1px solid; margin:20px;" class="content">
    <p><u>sub-live content</u></p>
    liveObject: {{liveObject.field1}}
    prop: {{data.prop}}<br />
    <span (click)="changeNested()">change nested</span>
    <div>
        <span (click)="event.emit()">emit</span>
    </div>
    <div>
        user : {{user?.firstName}}
    </div>
    <div>
        firstName: {{firstName}}
    </div>
    <app-sub-sub-live [liveObject]="liveObject" [dataNested]="dataNested" [data]="data"></app-sub-sub-live>
    <app-sub-sub-live2 [liveObject]="liveObject" [dataNested]="dataNested" [data]="data"></app-sub-sub-live2>
</div>